@tailwind base;
@tailwind components;

@tailwind utilities;


@layer base {
    @font-face {
        font-family: Notulen;
        src: url('./fonts/Notulen.otf') ;
    }
    @font-face {
        font-family: Urbanist;
        src: url('./fonts/Urbanist-Bold.ttf') ;
    }

    h3{
        @apply text-3xl tracking-widest
    }
    ul{
        @apply mt-8
    }
    ul>li{
        @apply mt-3 text-lg font-urbanist hover:bg-hover cursor-pointer
    }
    .sidebar{
        @apply flex flex-col items-center h-screen py-6 text-center w-60 md:w-1/4 xl:w-1/5 bg-lightblack
    }
}