@tailwind base;
@tailwind components;

@tailwind utilities;


@layer base {
    @font-face {
        font-family: Notulen;
        src: url('./fonts/Notulen.otf') ;
    }
    @font-face {
        font-family: Urbanist;
        src: url('./fonts/Urbanist-Bold.ttf') ;
    }
    h1{
        @apply text-6xl mt-8 mx-8
    }
    h2{
        @apply text-4xl mt-12 mx-8

    }

    h3{
        @apply text-3xl tracking-widest
    }

    h4,h6{
        @apply  text-sm font-urbanist
    }
    ul{
        @apply mt-8 w-full
    }
    ul>li{
        @apply mt-3 text-lg font-urbanist hover:bg-hover cursor-pointer tracking-widest w-full
    }
    .sidebar{
        @apply flex flex-col items-center h-screen py-6 text-center w-60 md:w-1/4 xl:w-1/5 bg-lightblack
    }

    .form-control{
        @apply bg-transparent border border-white rounded-3xl w-2/3 focus:outline-none px-2 py-2 text-white font-urbanist focus:border-yellow-500
    }

    .btn{
        @apply w-52 p-2 ml-8 bg-transparent border border-white rounded-3xl font-urbanist hover:bg-yellow-500 hover:border-0
    }

    .slick-slide{
        @apply mr-8 !important
    }
}